<div class="width-500 p-20">

  <h2 mat-dialog-title>Select Trend Parameters</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <!-- <mat-option value="">All</mat-option> -->
        <mat-option *ngFor="let c of categories" [value]="c">{{ c }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex-space-between-center flex-wrap">
       <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput type="date" formControlName="startDate">
    
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <input matInput type="date" formControlName="endDate">
    </mat-form-field>

    </div>
   

    <div mat-dialog-actions style="justify-content: flex-end;">
      <button mat-button type="button" (click)="dialogRef.close()">Close</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
</div>

<div class="p-20">
<app-trends-chart [expenses]="chartData"></app-trends-chart>

</div>