<!-- Form for entering a new expense -->
<form [formGroup]="expenseForm" (ngSubmit)="onSubmitExpense()" class="flex-column-container p-20">

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput type="text" formControlName="description" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput type="number" formControlName="amount" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <input matInput type="text" formControlName="category" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput type="date" formControlName="date" required>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="expenseForm.invalid">Add Expense</button>
</form>
