<!-- Form for entering a new expense  -->
<form (ngSubmit)="onSubmitExpense()" class="flex-column-container pt-20">

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput type="text" [(ngModel)]="description" name="description" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput type="number" [(ngModel)]="amount" name="amount" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <input matInput type="text" [(ngModel)]="category" name="category" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput type="date" [(ngModel)]="date" name="date" required>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Add Expense</button>
</form>
