<div>
  <h2>Expense Tracker</h2>

  <!-- Total Amount and Progress Bar -->
  <div>
    <div class="margin-0">
      <h3>Total Expenses: ${{ totalAmount.toFixed(2) }}</h3>
    </div>

    <div class="progress-bar">
      <div *ngFor="let item of categoryTotals"
        [ngStyle]="{ width: (item.total / totalAmount) * 100 + '%', backgroundColor: getCategoryColor(item.category)}"
        matTooltip="{{ item.category }}: {{ (item.total / totalAmount) * 100 | number: '1.0-1' }}%" ></div>
    </div>
  </div>

  <!-- Category Totals -->
 <div *ngIf="categoryTotals" class="pt-20">
  <h3>Category Expenses</h3>
  <div class="mat-card-container">
    <mat-card *ngFor="let category of categoryTotals" class="mat-card-box">
      <mat-card-title class="mat-card-title" [ngStyle]="{ color: getCategoryColor(category.category) }">
        {{ category.category }} 
      </mat-card-title>
      <mat-card-content class="mat-card-content">
        <div>${{ category.total.toFixed(2) }}</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


